<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Proyecto</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('traducir.index') }}">Inicio</a></li>
          <li><a href="{{ url_for('auth.token_page') }}">Token</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
